{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="w-75 mx-auto">
        <h1 class="mt-5 text-center">{{ purpose }}</h1>
        <p class="lead text-center">
            For your convenience you can generate new password <a class="text-warning"
                                                                  href="#passwordGenerator">below</a>
        </p>
        <form method="post" name="password_form">
            {% csrf_token %}

            <div id="div_id_platform" class="form-group"><label for="id_platform" class=" requiredField">
                Platform<span class="asteriskField">*</span> <small id="passwordHelpBlock" class="form-text">
                        Note: Fields with * must be filled
                    </small></label>

                <div class="">
                    <input type="text" name="platform" maxlength="256"
                           class="textinput textInput form-control " required="" id="id_platform"
                           value={{ platform }}>
                </div>
                <small id="passwordHelpBlock" class="form-text">
                        Here you should enter the website or program name to which your account is tied to.
                    </small>

                <div id="div_id_account" class="form-group"><label for="id_account" class=" requiredField">
                    Account name<span class="asteriskField">*</span> </label>
                    <div class="">
                        <input type="text" name="account" maxlength="256"
                               class="textinput textInput form-control " required="" id="id_account"
                               value={{ account }}>
                    </div>
                    <small id="passwordHelpBlock" class="form-text">
                        Here you should enter your platforms account ID or username.
                    </small>
                </div>
                <div id="div_id_password" class="form-group"><label for="id_password" class=" requiredField">
                    Password<span class="asteriskField">*</span> </label>
                    <div class="">
                        <input type="text" name="password" maxlength="1024"
                               class="textinput textInput form-control" required="" id="id_password"
                               value={{ password }}>

                    </div>
                    <small id="passwordHelpBlock" class="form-text">
                        Your password should be 8+ characters long, contain letters, numbers and special characters. To
                        generate a password please click <a class="text-warning"
                                                            href="#passwordGenerator">here</a>
                    </small>
                </div>
                <div class="text-center">
                    <input class="btn btn-warning" type="submit">
                </div>
            </div>
        </form>

        <section id="passwordGenerator">
            <script>
                function randomString() {
                    if (document.randform.pass_length.value < 8) {
                        alert("Password length cannot be less than 8!\nYour input will be replaced to the default value of 10");
                        document.randform.pass_length.value = 10;
                    }
                    var stringLength = document.randform.pass_length.value;
                    var chars;
                    switch (document.randform.passwordChars.value) {
                        case "1":
                            chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!&quot;#$%&amp;&#39;()*+,-./:;&lt;=&gt;?@[\]^_`{|}~";
                            break;
                        case "2":
                            chars = "!@#$%abcdefghijklmnopqrstuvwxyz!@#$%ABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%0123456789!@#$%";
                            break;
                        case "3":
                            chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
                            break;
                        case "4":
                            chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
                            break;
                        case "5":
                            chars = "abcdefghijklmnopqrstuvwxyz";
                            break;
                        case "6":
                            chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                            break;
                        case "7":
                            chars = "0123456789";
                            break;

                        default:
                            alert("Error occurred!");
                            return null

                    }
                    var passwordString = '';
                    for (var i = 0; i < stringLength; i++) {
                        var randomNumber = Math.floor(Math.random() * chars.length);
                        passwordString += chars.substring(randomNumber, randomNumber + 1);
                    }
                    document.password_form.password.value = passwordString;
                }
            </script>

            <h1 class="mt-5 text-center">Generate a new random password</h1>
            <p class="lead text-center">
                Here you can generate a new secure password, just set a length and contents of your new password.
            </p>
            <div class="">
                <form name="randform">
                    <div class="form-group ">
                        <label for="pass_length" class="">Password length:</label>
                        <div class="">
                            <input type="number" class="form-control" id="pass_length" name="pass_length" min="5"
                                   max="100"
                                   value="12" oninput="check(this)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passwordChars" class="">Select password contents</label>
                        <div class="">
                            <select class="form-control" id="passwordChars" name="passwordChars">
                                <option value="1">Letters + Digits + Special characters</option>
                                <option value="2">Letters + Digits + Some special characters for older websites</option>
                                <option value="3">Letters + Digits</option>
                                <option value="4">Letters Only</option>
                                <option value="5">Lowercase Letters Only</option>
                                <option value="6">Uppercase Letters Only</option>
                                <option value="7">Digits only</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group text-center ">
                        <input type="button" class="btn btn-warning generate-pw-btn" onClick="randomString();"
                               value="Generate random password">
                    </div>

                </form>
            </div>

        </section>
    </div>

{% endblock %}