{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        new ClipboardJS('.btn');
    </script>


    <h1 class="mt-5 text-center text-light">View your saved accounts</h1>
    <div class="text-center mt-4">
        <a href="{% url 'add-stored-password' %}">
            <button class="btn btn-lg btn-danger">Add password</button>
        </a>
    </div>
    {% if  passwords|length == 0 %}
        <p class="text-center"> Looks empty here, why don't you add something </p>
    {% else %}
        <div class="input-group mt-4">
            <input id="searchbox" type="text" class="form-control" aria-label="Small" placeholder="Search"
                   aria-describedby="inputGroup-sizing-sm">
        </div>
        <table class="mt-5 table table-bordered mw-80">
            <thead class="thead-dark">
            <tr class="text-center text-light">
                <th scope="col" class="mw-20">#</th>
                <th scope="col" class="mw-20">Platform</th>
                <th scope="col" class="mw-20">Account name</th>
                <th scope="col" class="mw-20">Password Actions</th>
            </tr>
            </thead>
            <tbody class="text-center text-light table-hover table-dark" id="search_list">
            {% for foo in passwords %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="mw-20">{{ foo.platform }}</td>
                    <td class="mw-20">{{ foo.account }}</td>
                    <td class="mw-20">
                        <div class="dropdown mobile-btn ">
                            <button class="btn btn-primary dropdown-toggle mobile-btn-show" type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu mt-1 mb-1 bg-dark move-left+-"
                                 aria-labelledby="dropdownMenuButton">
                                <div class="text-center ">
                                    <button class="btn btn-info mobile-btn mt-1 mb-1" data-clipboard-text="{{ foo.password }}">
                                        Copy to clipboard
                                    </button>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-info mobile-btn mt-1 mb-1"
                                            onclick="alert('{{ foo.password }}')">
                                        Show Password
                                    </button>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-warning mobile-btn mt-1 mb-1"
                                            onclick="location.href='{% url 'update-stored-password' update_id=foo.id %}'">
                                        Update
                                    </button>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-danger mobile-btn mt-1 mb-1"
                                            onclick="location.href='{% url 'delete-password-dialog' delete_id=foo.id %}'">
                                        Delete
                                    </button>
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-info desktop-btn" data-clipboard-text="{{ foo.password }}">
                            Copy to clipboard
                        </button>
                        <button class="btn btn-info desktop-btn" onclick="alert('{{ foo.password }}')">
                            Show Password
                        </button>
                        <button class="btn btn-warning desktop-btn"
                                onclick="location.href='{% url 'update-stored-password' update_id=foo.id %}'">
                            Update
                        </button>
                        <button class="btn btn-danger desktop-btn"
                                onclick="location.href='{% url 'delete-password-dialog' delete_id=foo.id %}'">
                            Delete
                        </button>

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock %}