{% extends 'base.html' %}

{% block content %}
    <div class="w-75 mx-auto">
        <h1 class="mt-5 text-center">Add an account and it's password</h1>
        <p class="lead text-center">
            For your convenience you can generate new password <a class="text-warning"
                                                                  href="#passwordGenerator">below</a>
        </p>
        <form method="post" name="password_form">
            {% csrf_token %}

            <div id="div_id_account" class="form-group"><label for="id_account" class=" requiredField">
                Account<span class="asteriskField">*</span> </label>
                <div class="">
                    <input type="text" name="account" maxlength="256"
                           class="textinput textInput form-control " required="" id="id_account" value={{account}}>
                </div>
            </div>
            <div id="div_id_password" class="form-group"><label for="id_password" class=" requiredField">
                Password<span class="asteriskField">*</span> </label>
                <div class="">
                    <input type="text" name="password" maxlength="1024"
                           class="textinput textInput form-control" required="" id="id_password" value={{password}}>
                </div>
            </div>

            <input class="btn btn-warning" type="submit">
        </form>

    </div>

{% endblock %}