{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <h1 class="mt-5">Welcome to</h1>
        <img class="w-25 pb-1" src="{% static 'img/logo.png' %}" alt="">
        <p class="lead">
            The password manager that secures your data and is easy to use
        </p>
        <p class="lead">If you do not have an account yet, feel free to register <a class="text-warning"
                                                                                    href={% url "register" %}>here</a>
        </p>
        <div class="text-center">
            <h1 class="mt-5">More information</h1>
            <p class="lead">
                Many password managers are hard to use for inexperienced computer users. KDPM aims to be user friendly
                while being as secure as other password managers. For more details please visit <a class="text-warning"
                                                                                    href={% url "about" %}>here</a> page
            </p>
        </div>
    </div>
{% endblock %}